In [138]:
import pandas as pd 
import numpy as np

In [139]:
df = pd.read_csv("hi.csv")
df

C:\Users\broro\AppData\Local\Temp\ipykernel_700\2910094682.py:1: DtypeWarning: Columns (40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("hi.csv")

,id,primary_listing_photo,if_gk_just_listed_tag_on_search_feed,listing_price,strikethrough_price,comparable_price,comparable_price_type,location,is_hidden,is_live,...,legal_disclosure_impressum_url,commerce_badges_info,listing_address,seller_phone_number,vehicle_website_link,dealership_name,seller,energy_efficiency_class_eu,listing_photos,pre_recorded_videos
0,842325545077316,{'image': {'uri': 'https://scontent.fsyd4-2.fn...,NaN,"{'formatted_amount': 'AU$11,300', 'amount_with...",NaN,NaN,NaN,"{'reverse_geocode': {'city': 'Brisbane', 'stat...",False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1282138740755042,{'image': {'uri': 'https://scontent.fsyd4-2.fn...,NaN,"{'formatted_amount': 'AU$5,000', 'amount_with_...","{'formatted_amount': 'AU$7,000', 'amount': '70...",NaN,NaN,"{'reverse_geocode': {'city': 'Brisbane', 'stat...",False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4343086952677152,{'image': {'uri': 'https://scontent.fsyd4-1.fn...,NaN,"{'formatted_amount': 'AU$13,500', 'amount_with...",NaN,NaN,NaN,"{'reverse_geocode': {'city': 'Brisbane', 'stat...",False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,856599473632809,{'image': {'uri': 'https://scontent.fsyd4-1.fn...,NaN,"{'formatted_amount': 'AU$89,999', 'amount_with...",NaN,NaN,NaN,"{'reverse_geocode': {'city': 'Brisbane', 'stat...",False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1929741430912801,{'image': {'uri': 'https://scontent.fsyd4-1.fn...,NaN,"{'formatted_amount': 'AU$18,800', 'amount_with...",NaN,NaN,NaN,"{'reverse_geocode': {'city': 'Brisbane', 'stat...",False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11950,1626734915162026,{'image': {'uri': 'https://scontent-syd2-1.xx....,NaN,"{'amount_with_offset': '590000', 'currency': '...",NaN,NaN,NaN,"{'latitude': -34.928283691406, 'longitude': 13...",False,True,...,NaN,"{'source_summary': None, 'badges': []}",NaN,NaN,NaN,NaN,NaN,NaN,[{'accessibility_caption': 'May be an image of...,[]
11951,2186106862127606,{'image': {'uri': 'https://scontent.fbne6-1.fn...,NaN,"{'amount_with_offset': '2495000', 'currency': ...",NaN,NaN,NaN,"{'latitude': -37.768249511719, 'longitude': 14...",False,True,...,NaN,{'source_summary': 'Highly rated on Marketplac...,NaN,NaN,NaN,NaN,NaN,NaN,[{'accessibility_caption': 'May be an image of...,[]
11952,1436459311236585,{'image': {'uri': 'https://scontent.fbne5-1.fn...,NaN,"{'amount_with_offset': '899000', 'currency': '...",NaN,NaN,NaN,"{'latitude': -37.817687988281, 'longitude': 14...",False,True,...,NaN,"{'source_summary': None, 'badges': []}",NaN,NaN,NaN,NaN,NaN,NaN,[{'accessibility_caption': 'No photo descripti...,[]
11953,1084441146768423,{'image': {'uri': 'https://scontent.fbne5-1.fn...,NaN,"{'amount_with_offset': '1000', 'currency': 'AU...",NaN,NaN,NaN,"{'latitude': -38.075866699219, 'longitude': 14...",False,True,...,NaN,"{'source_summary': None, 'badges': []}",NaN,NaN,NaN,NaN,NaN,NaN,[{'accessibility_caption': 'No photo descripti...,[]
11954,4201771813431487,{'image': {'uri': 'https://scontent.fbne12-1.f...,NaN,"{'amount_with_offset': '950000', 'currency': '...","{'formatted_amount': 'AU$12,000', 'amount': '1...",NaN,NaN,"{'latitude': -38.081359863281, 'longitude': 14...",False,True,...,NaN,"{'source_summary': None, 'badges': []}",NaN,NaN,NaN,NaN,NaN,NaN,[{'accessibility_caption': 'No photo descripti...,[]

In [140]:
df.columns

Index(['id', 'primary_listing_photo', 'if_gk_just_listed_tag_on_search_feed',
       'listing_price', 'strikethrough_price', 'comparable_price',
       'comparable_price_type', 'location', 'is_hidden', 'is_live',
       ...
       'legal_disclosure_impressum_url', 'commerce_badges_info',
       'listing_address', 'seller_phone_number', 'vehicle_website_link',
       'dealership_name', 'seller', 'energy_efficiency_class_eu',
       'listing_photos', 'pre_recorded_videos'],
      dtype='object', length=119)

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11955 entries, 0 to 11954
Columns: 119 entries, id to pre_recorded_videos
dtypes: bool(5), float64(37), int64(2), object(75)
memory usage: 10.5+ MB

In [142]:
#checking cols that have all null values in it
all_null_cols_mask = df.isnull().all()
cols_with_all_nulls = df.columns[all_null_cols_mask].tolist()
cols_with_all_nulls

['if_gk_just_listed_tag_on_search_feed',
 'comparable_price',
 'comparable_price_type',
 'min_listing_price',
 'max_listing_price',
 'origin_group',
 'listing_video',
 'parent_listing',
 'marketplace_listing_seller',
 'product_feedback',
 'story',
 'payment_time_period',
 'marketplace_lead_gen_form',
 'seller_message_thread',
 'default_variant_listing',
 'reportable_seller_type',
 'active_order',
 'rebuy_order_receipt',
 'most_recent_active_order_as_buyer',
 'shipping_profile',
 'vacation_mode',
 'incentive_campaign_for_free_shipping',
 'first_message_suggested_value',
 'sweepstake_content',
 'marketplace_bump_info',
 'fair_market_value_data',
 'vehicle_identification_number',
 'vehicle_registration_plate_information',
 'vehicle_carfax_report',
 'legal_disclosure_impressum_url',
 'vehicle_website_link',
 'seller',
 'energy_efficiency_class_eu']

In [143]:
col = ["id","primary_listing_photo"]

In [144]:
cols = cols_with_all_nulls + col

In [145]:
df.drop(cols,axis=1,inplace=True)

In [146]:
df

,listing_price,strikethrough_price,location,is_hidden,is_live,is_pending,is_sold,is_viewer_seller,marketplace_listing_category_id,marketplace_listing_title,...,vehicle_trim_display_name,attribute_data,origin_target,shipping_offered,commerce_badges_info,listing_address,seller_phone_number,dealership_name,listing_photos,pre_recorded_videos
0,"{'formatted_amount': 'AU$11,300', 'amount_with...",NaN,"{'reverse_geocode': {'city': 'Brisbane', 'stat...",False,True,False,False,False,807311116002614,2015 Hyundai i30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'formatted_amount': 'AU$5,000', 'amount_with_...","{'formatted_amount': 'AU$7,000', 'amount': '70...","{'reverse_geocode': {'city': 'Brisbane', 'stat...",False,True,False,False,False,807311116002614,2020 MG MG3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'formatted_amount': 'AU$13,500', 'amount_with...",NaN,"{'reverse_geocode': {'city': 'Brisbane', 'stat...",False,True,False,False,False,807311116002614,2016 Hyundai Tucson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'formatted_amount': 'AU$89,999', 'amount_with...",NaN,"{'reverse_geocode': {'city': 'Brisbane', 'stat...",False,True,False,False,False,807311116002614,2008 Nissan GT-R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'formatted_amount': 'AU$18,800', 'amount_with...",NaN,"{'reverse_geocode': {'city': 'Brisbane', 'stat...",False,True,False,False,False,807311116002614,2014 Toyota 86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11950,"{'amount_with_offset': '590000', 'currency': '...",NaN,"{'latitude': -34.928283691406, 'longitude': 13...",False,True,False,False,False,807311116002614,2002 Mercedes-Benz Sedan,...,NaN,[],{'id': '1017998584931682'},False,"{'source_summary': None, 'badges': []}",NaN,NaN,NaN,[{'accessibility_caption': 'May be an image of...,[]
11951,"{'amount_with_offset': '2495000', 'currency': ...",NaN,"{'latitude': -37.768249511719, 'longitude': 14...",False,True,False,False,False,807311116002614,2021 Nissan Qashqai,...,NaN,[],{'id': '1017998584931682'},False,{'source_summary': 'Highly rated on Marketplac...,NaN,NaN,NaN,[{'accessibility_caption': 'May be an image of...,[]
11952,"{'amount_with_offset': '899000', 'currency': '...",NaN,"{'latitude': -37.817687988281, 'longitude': 14...",False,True,False,False,False,807311116002614,2013 Hyundai 2013 Hyundai ix35 LM3 Elite Wagon...,...,NaN,[],{'id': '1017998584931682'},False,"{'source_summary': None, 'badges': []}",NaN,NaN,NaN,[{'accessibility_caption': 'No photo descripti...,[]
11953,"{'amount_with_offset': '1000', 'currency': 'AU...",NaN,"{'latitude': -38.075866699219, 'longitude': 14...",False,True,False,False,False,807311116002614,2024 Mercedes-Benz GLA250,...,NaN,[],{'id': '1017998584931682'},False,"{'source_summary': None, 'badges': []}",NaN,NaN,NaN,[{'accessibility_caption': 'No photo descripti...,[]
11954,"{'amount_with_offset': '950000', 'currency': '...","{'formatted_amount': 'AU$12,000', 'amount': '1...","{'latitude': -38.081359863281, 'longitude': 14...",False,True,False,False,False,807311116002614,2015 Mitsubishi Lancer,...,NaN,[],{'id': '1017998584931682'},False,"{'source_summary': None, 'badges': []}",NaN,NaN,NaN,[{'accessibility_caption': 'No photo descripti...,[]

In [147]:
# Checking null values columns having 8000 null values 
null_counts = df.isnull().sum()
columns_with_many_nulls = null_counts[null_counts > 8000].index.tolist()
columns_with_many_nulls

['strikethrough_price',
 'inventory_count',
 'legal_reporting_cta_type',
 'legal_reporting_uri',
 'seller_cms',
 'vehicle_condition',
 'vehicle_is_paid_off',
 'vehicle_title_status',
 'vehicle_trim_display_name',
 'listing_address',
 'seller_phone_number',
 'dealership_name']

In [148]:
df.drop(columns_with_many_nulls,axis=1,inplace=True)

In [149]:
df.tail(10)

,listing_price,location,is_hidden,is_live,is_pending,is_sold,is_viewer_seller,marketplace_listing_category_id,marketplace_listing_title,custom_title,...,vehicle_odometer_data,vehicle_seller_type,vehicle_specifications,vehicle_transmission_type,attribute_data,origin_target,shipping_offered,commerce_badges_info,listing_photos,pre_recorded_videos
11945,"{'amount_with_offset': '2170000', 'currency': ...","{'latitude': -37.751770019531, 'longitude': 14...",False,True,False,False,False,807311116002614,2019 Hyundai Tucson,2019 Hyundai tucson,...,"{'unit': 'KILOMETERS', 'value': 96000}",PRIVATE_SELLER,"{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,[],{'id': '1017998584931682'},False,"{'source_summary': None, 'badges': []}",[{'accessibility_caption': 'May be an image of...,[]
11946,"{'amount_with_offset': '1400000', 'currency': ...","{'latitude': -37.652893066406, 'longitude': 14...",False,True,False,False,False,807311116002614,2008 Nissan Patrol,2008 Nissan patrol,...,"{'unit': 'KILOMETERS', 'value': 245000}",PRIVATE_SELLER,"{'co2_emissions': None, 'engine_size': None, '...",MANUAL,[],{'id': '1017998584931682'},False,"{'source_summary': None, 'badges': []}",[{'accessibility_caption': 'No photo descripti...,[]
11947,"{'amount_with_offset': '1450000', 'currency': ...","{'latitude': -37.790222167969, 'longitude': 14...",False,True,False,False,False,807311116002614,2015 Volkswagen Polo GTI RWC+REGO,2015 Volkswagen polo gti rwc+rego,...,"{'unit': 'KILOMETERS', 'value': 166000}",PRIVATE_SELLER,"{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,[],{'id': '1017998584931682'},False,"{'source_summary': None, 'badges': []}",[{'accessibility_caption': 'May be an image of...,[]
11948,"{'amount_with_offset': '2900000', 'currency': ...","{'latitude': -38.064880371094, 'longitude': 14...",False,True,False,False,False,807311116002614,2020 Volvo XC60,2020 Volvo xc60,...,"{'unit': 'KILOMETERS', 'value': 99500}",PRIVATE_SELLER,"{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,[],{'id': '1017998584931682'},False,{'source_summary': 'Very responsive on Marketp...,[{'accessibility_caption': 'May be an image of...,[]
11949,"{'amount_with_offset': '2799900', 'currency': ...","{'latitude': -34.928283691406, 'longitude': 13...",False,True,False,False,False,807311116002614,2019 Ford RANGER WILDTRAK PX MKlll AUTO,2019 Ford ranger wildtrak px mklll auto,...,"{'unit': 'KILOMETERS', 'value': 247000}",PRIVATE_SELLER,"{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,[],{'id': '1017998584931682'},False,"{'source_summary': None, 'badges': []}",[{'accessibility_caption': 'May be an image of...,[]
11950,"{'amount_with_offset': '590000', 'currency': '...","{'latitude': -34.928283691406, 'longitude': 13...",False,True,False,False,False,807311116002614,2002 Mercedes-Benz Sedan,2002 Mercedes-Benz sedan,...,"{'unit': 'KILOMETERS', 'value': 181000}",PRIVATE_SELLER,"{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,[],{'id': '1017998584931682'},False,"{'source_summary': None, 'badges': []}",[{'accessibility_caption': 'May be an image of...,[]
11951,"{'amount_with_offset': '2495000', 'currency': ...","{'latitude': -37.768249511719, 'longitude': 14...",False,True,False,False,False,807311116002614,2021 Nissan Qashqai,2021 Nissan qashqai,...,"{'unit': 'KILOMETERS', 'value': 67502}",PRIVATE_SELLER,"{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,[],{'id': '1017998584931682'},False,{'source_summary': 'Highly rated on Marketplac...,[{'accessibility_caption': 'May be an image of...,[]
11952,"{'amount_with_offset': '899000', 'currency': '...","{'latitude': -37.817687988281, 'longitude': 14...",False,True,False,False,False,807311116002614,2013 Hyundai 2013 Hyundai ix35 LM3 Elite Wagon...,2013 Hyundai 2013 hyundai ix35 lm3 elite wagon...,...,"{'unit': 'KILOMETERS', 'value': 232045}",PRIVATE_SELLER,"{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,[],{'id': '1017998584931682'},False,"{'source_summary': None, 'badges': []}",[{'accessibility_caption': 'No photo descripti...,[]
11953,"{'amount_with_offset': '1000', 'currency': 'AU...","{'latitude': -38.075866699219, 'longitude': 14...",False,True,False,False,False,807311116002614,2024 Mercedes-Benz GLA250,2024 Mercedes-Benz gla-class,...,"{'unit': 'KILOMETERS', 'value': 14000}",PRIVATE_SELLER,"{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,[],{'id': '1017998584931682'},False,"{'source_summary': None, 'badges': []}",[{'accessibility_caption': 'No photo descripti...,[]
11954,"{'amount_with_offset': '950000', 'currency': '...","{'latitude': -38.081359863281, 'longitude': 14...",False,True,False,False,False,807311116002614,2015 Mitsubishi Lancer,2015 Mitsubishi lancer,...,"{'unit': 'KILOMETERS', 'value': 252433}",PRIVATE_SELLER,"{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,[],{'id': '1017998584931682'},False,"{'source_summary': None, 'badges': []}",[{'accessibility_caption': 'No photo descripti...,[]

In [150]:
df.isnull().sum().sum()

np.int64(18118)

In [151]:
df.info().tolist()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11955 entries, 0 to 11954
Data columns (total 72 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   listing_price                           11955 non-null  object
 1   location                                11955 non-null  object
 2   is_hidden                               11955 non-null  bool
 3   is_live                                 11955 non-null  bool
 4   is_pending                              11955 non-null  bool
 5   is_sold                                 11955 non-null  bool
 6   is_viewer_seller                        11955 non-null  bool
 7   marketplace_listing_category_id         11955 non-null  int64
 8   marketplace_listing_title               11955 non-null  object
 9   custom_title                            11954 non-null  object
 10  custom_sub_titles_with_rendering_flags  11955 non-null  object
 11  delivery_types                          11955 non-null  object
 12  listingUrl                              11955 non-null  object
 13  inputUrl                                11955 non-null  object
 14  if_viewer_is_buyer                      11841 non-null  object
 15  redacted_description                    11841 non-null  object
 16  creation_time                           11841 non-null  float64
 17  location_text                           11840 non-null  object
 18  location_vanity_or_id                   11841 non-null  object
 19  listing_inventory_type                  11841 non-null  object
 20  formatted_price                         11841 non-null  object
 21  condition                               11841 non-null  object
 22  logging_id                              11841 non-null  float64
 23  messaging_enabled                       11841 non-null  object
 24  listing_is_rejected                     11841 non-null  object
 25  product_item                            11841 non-null  object
 26  is_checkout_enabled                     11841 non-null  object
 27  is_draft                                11841 non-null  object
 28  can_seller_edit                         11841 non-null  object
 29  primary_mp_ent                          11841 non-null  object
 30  reportable_ent_id                       11841 non-null  float64
 31  hidden_from_friends                     10777 non-null  object
 32  can_share                               11841 non-null  object
 33  share_uri                               11841 non-null  object
 34  can_seller_change_availability          11841 non-null  object
 35  is_on_marketplace                       11841 non-null  object
 36  messagingEnabled                        11841 non-null  object
 37  has_children                            11841 non-null  object
 38  cross_post_info                         11841 non-null  object
 39  c2c_shipping_eligible                   11841 non-null  object
 40  is_shipping_offered                     11841 non-null  object
 41  order_summaries                         11841 non-null  object
 42  should_hide_pdp_shipping_content        11841 non-null  object
 43  is_seller_business_onboarded            11841 non-null  object
 44  is_buy_now_enabled                      11841 non-null  object
 45  is_purchase_protected                   11841 non-null  object
 46  can_buyer_make_checkout_offer           11841 non-null  object
 47  is_cart_enabled                         11841 non-null  object
 48  all_message_threads                     11841 non-null  object
 49  should_show_txn_survey_on_mas           11841 non-null  object
 50  sweepstake_enabled                      11841 non-null  object
 51  sweepstake_status                       11841 non-null  object
 52  fi_enhanced_appeal_data                 11841 non-null  object
 53  listing_seller_notices                  11841 non-null  object
 54  is_email_communication_enabled          11841 non-null  object
 55  vehicle_exterior_color                  11725 non-null  object
 56  vehicle_features                        11841 non-null  object
 57  vehicle_fuel_type                       10425 non-null  object
 58  vehicle_interior_color                  9658 non-null   object
 59  vehicle_make_display_name               11841 non-null  object
 60  vehicle_model_display_name              11452 non-null  object
 61  vehicle_number_of_owners                5457 non-null   object
 62  vehicle_odometer_data                   11841 non-null  object
 63  vehicle_seller_type                     11841 non-null  object
 64  vehicle_specifications                  11841 non-null  object
 65  vehicle_transmission_type               11827 non-null  object
 66  attribute_data                          11841 non-null  object
 67  origin_target                           11841 non-null  object
 68  shipping_offered                        11841 non-null  object
 69  commerce_badges_info                    11841 non-null  object
 70  listing_photos                          11872 non-null  object
 71  pre_recorded_videos                     11872 non-null  object
dtypes: bool(5), float64(3), int64(1), object(63)
memory usage: 6.2+ MB

AttributeError: 'NoneType' object has no attribute 'tolist'

In [152]:
columns_to_drop = []
for col in df.columns:
    counts = df[col].value_counts()
    if counts.max() > 11000:
            columns_to_drop.append(col)
columns_to_drop = [col for col in columns_to_drop if col not in ["delivery_types","condition","is_sold"]]
columns_to_drop

['is_hidden',
 'is_live',
 'is_pending',
 'is_viewer_seller',
 'marketplace_listing_category_id',
 'listing_inventory_type',
 'messaging_enabled',
 'listing_is_rejected',
 'is_checkout_enabled',
 'is_draft',
 'can_seller_edit',
 'can_share',
 'can_seller_change_availability',
 'is_on_marketplace',
 'messagingEnabled',
 'has_children',
 'c2c_shipping_eligible',
 'is_shipping_offered',
 'order_summaries',
 'should_hide_pdp_shipping_content',
 'is_seller_business_onboarded',
 'is_buy_now_enabled',
 'is_purchase_protected',
 'can_buyer_make_checkout_offer',
 'is_cart_enabled',
 'all_message_threads',
 'should_show_txn_survey_on_mas',
 'sweepstake_enabled',
 'sweepstake_status',
 'fi_enhanced_appeal_data',
 'listing_seller_notices',
 'is_email_communication_enabled',
 'vehicle_features',
 'vehicle_seller_type',
 'attribute_data',
 'origin_target',
 'shipping_offered',
 'pre_recorded_videos']

this will check if the first value counts of columns contains more than 11000 values drop it 
becoz we can't do anything on it and why we don't drop the three becoz they tell if the item is sold or not and 
its delievery types and condition

In [153]:
print(df["vehicle_features"].value_counts())
print(df["listing_seller_notices"].value_counts())
#no use data is contains only empty [] drop it

vehicle_features
[]    11841
Name: count, dtype: int64
listing_seller_notices
[]    11841
Name: count, dtype: int64

In [154]:
print(df["fi_enhanced_appeal_data"].value_counts())
print(df["sweepstake_status"].value_counts())
print(df["should_show_txn_survey_on_mas"].value_counts())
print(df["all_message_threads"].value_counts())
print(df["is_cart_enabled"].value_counts())

#need to drop both becoz include only one values and left 141 null values means no use

fi_enhanced_appeal_data
{'use_fi_appeals': True, 'enforcement_instance_id': None}    11841
Name: count, dtype: int64
sweepstake_status
INVALID    11841
Name: count, dtype: int64
should_show_txn_survey_on_mas
False    11841
Name: count, dtype: int64
all_message_threads
{'is_empty': True}    11841
Name: count, dtype: int64
is_cart_enabled
False    11841
Name: count, dtype: int64

In [155]:
df["sweepstake_enabled"].value_counts()

sweepstake_enabled
False    11841
Name: count, dtype: int64

In [156]:
no_use_cols = ["listing_photos","commerce_badges_info",
              "custom_title","listingUrl","inputUrl",
               "if_viewer_is_buyer","vehicle_features"]

dropping listing photos, listing url , input url as they are link dropping custom title it work done by listing title dropping if viewer is buyer
no need of dropped vehicle_features becoz it contains only empty [] no use of commerce badges info

In [157]:
finl_no_use_cols = no_use_cols + columns_to_drop

In [158]:
df.drop(finl_no_use_cols,axis=1,inplace=True)

In [159]:
df.columns.tolist()

['listing_price',
 'location',
 'is_sold',
 'marketplace_listing_title',
 'custom_sub_titles_with_rendering_flags',
 'delivery_types',
 'redacted_description',
 'creation_time',
 'location_text',
 'location_vanity_or_id',
 'formatted_price',
 'condition',
 'logging_id',
 'product_item',
 'primary_mp_ent',
 'reportable_ent_id',
 'hidden_from_friends',
 'share_uri',
 'cross_post_info',
 'vehicle_exterior_color',
 'vehicle_fuel_type',
 'vehicle_interior_color',
 'vehicle_make_display_name',
 'vehicle_model_display_name',
 'vehicle_number_of_owners',
 'vehicle_odometer_data',
 'vehicle_specifications',
 'vehicle_transmission_type']

In [160]:
# df["location"].tolist()

In [161]:
df.drop("location",axis=1,inplace=True)
#dropping location becoz it info is slo in location_text

In [162]:
# df["location_vanity_or_id"].tolist
#no need no info we need from this

In [163]:
df.drop("location_vanity_or_id",axis=1,inplace=True)

In [164]:
# df["logging_id"].tolist()
#no need

In [165]:
df["product_item"].tolist()
# no need
df.drop("product_item",axis=1,inplace=True)

In [166]:
cols = ["cross_post_info","hidden_from_friends","reportable_ent_id","primary_mp_ent","vehicle_number_of_owners"]
df.drop(cols,axis=1,inplace=True)

### This is the final dataset we need to work on

## Data Cleaning

In [167]:
df

,listing_price,is_sold,marketplace_listing_title,custom_sub_titles_with_rendering_flags,delivery_types,redacted_description,creation_time,location_text,formatted_price,condition,logging_id,share_uri,vehicle_exterior_color,vehicle_fuel_type,vehicle_interior_color,vehicle_make_display_name,vehicle_model_display_name,vehicle_odometer_data,vehicle_specifications,vehicle_transmission_type
0,"{'formatted_amount': 'AU$11,300', 'amount_with...",False,2015 Hyundai i30,[{'subtitle': '89K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'formatted_amount': 'AU$5,000', 'amount_with_...",False,2020 MG MG3,[{'subtitle': '79K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'formatted_amount': 'AU$13,500', 'amount_with...",False,2016 Hyundai Tucson,[{'subtitle': '191K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'formatted_amount': 'AU$89,999', 'amount_with...",False,2008 Nissan GT-R,[{'subtitle': '98K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'formatted_amount': 'AU$18,800', 'amount_with...",False,2014 Toyota 86,[{'subtitle': '126K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11950,"{'amount_with_offset': '590000', 'currency': '...",False,2002 Mercedes-Benz Sedan,[{'subtitle': '181K km'}],['IN_PERSON'],{'text': 'Mercedes Benz kompressor classic sed...,1.767777e+09,"{'text': 'Adelaide, SA'}","{'text': 'AU$5,900'}",USED,3.311324e+16,https://www.facebook.com/marketplace/item/1626...,white,GASOLINE,off_white,Mercedes-Benz,sedan,"{'unit': 'KILOMETERS', 'value': 181000}","{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC
11951,"{'amount_with_offset': '2495000', 'currency': ...",False,2021 Nissan Qashqai,[{'subtitle': '67K km'}],['IN_PERSON'],{'text': '2021 Nissan Qashqui Ti For Sale\nOne...,1.767689e+09,"{'text': 'Melbourne, VIC'}","{'text': 'AU$24,950'}",USED,2.581317e+16,https://www.facebook.com/marketplace/item/2186...,grey,GASOLINE,black,Nissan,Qashqai,"{'unit': 'KILOMETERS', 'value': 67502}","{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC
11952,"{'amount_with_offset': '899000', 'currency': '...",False,2013 Hyundai 2013 Hyundai ix35 LM3 Elite Wagon...,[{'subtitle': '232K km'}],['IN_PERSON'],"{'text': ""Will not respond to is this availabl...",1.767573e+09,"{'text': 'Melbourne, VIC'}","{'text': 'AU$8,990'}",USED,2.520144e+16,https://www.facebook.com/marketplace/item/1436...,grey,PETROL,black,Hyundai,2013 hyundai ix35 lm3 elite wagon 5dr spts aut...,"{'unit': 'KILOMETERS', 'value': 232045}","{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC
11953,"{'amount_with_offset': '1000', 'currency': 'AU...",False,2024 Mercedes-Benz GLA250,[{'subtitle': '14K km'}],['IN_PERSON'],{'text': 'ALL CAR PARTS FOR SALE \nMelbourne C...,1.741294e+09,"{'text': 'Melbourne, VIC'}",{'text': 'AU$10'},USED,9.153080e+15,https://www.facebook.com/marketplace/item/1084...,black,PETROL,black,Mercedes-Benz,gla-class,"{'unit': 'KILOMETERS', 'value': 14000}","{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC
11954,"{'amount_with_offset': '950000', 'currency': '...",False,2015 Mitsubishi Lancer,[{'subtitle': '252K km'}],['IN_PERSON'],"{'text': 'Clean, reliable, and fuel-efficient....",1.759867e+09,"{'text': 'Melbourne, VIC'}","{'text': 'AU$9,500'}",USED,2.480388e+16,https://www.facebook.com/marketplace/item/4201...,white,GASOLINE,black,Mitsubishi,Lancer,"{'unit': 'KILOMETERS', 'value': 252433}","{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC

In [169]:
# df["listing_price"].tolist()

In [170]:
# df["formatted_price"].tolist()

#### Here we drop listing price becoz it contains some wrong value in offset also, formatted price and listing price both are same so we use listing price

In [171]:
df.drop("listing_price",axis=1,inplace=True)

In [172]:
df['creation_time'].describe()

count    1.184100e+04
mean     1.763919e+09
std      6.748094e+06
min      1.641935e+09
25%      1.763257e+09
50%      1.765755e+09
75%      1.767314e+09
max      1.767917e+09
Name: creation_time, dtype: float64

In [173]:
df['creation_year'] = pd.to_datetime(df['creation_time'], unit='s').dt.year
df['creation_month'] = pd.to_datetime(df['creation_time'], unit='s').dt.month

#### Converting Unix Timestamps to Year and Month

- Our dataset contains a column `creation_time`, which stores **Unix timestamps** — the number of seconds since **January 1, 1970 (UTC)**.  
- Raw timestamps like `1.741294e+09` are **not human-readable** and **cannot be used directly** in machine learning models.  
- So i converted it to year and month

In [175]:
df.drop("creation_time",axis=1,inplace=True)

In [182]:
# df["logging_id"].tolist()

`logging_id` like (e.g., 2.534963437796354e+16) is a system-generated unique ID with no predictive value for ML and can be dropped.

In [181]:
df.drop("logging_id",axis=1,inplace=True)

KeyError: "['logging_id'] not found in axis"

In [180]:
df

,is_sold,marketplace_listing_title,custom_sub_titles_with_rendering_flags,delivery_types,redacted_description,location_text,formatted_price,condition,share_uri,vehicle_exterior_color,vehicle_fuel_type,vehicle_interior_color,vehicle_make_display_name,vehicle_model_display_name,vehicle_odometer_data,vehicle_specifications,vehicle_transmission_type,creation_year,creation_month
0,False,2015 Hyundai i30,[{'subtitle': '89K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,2020 MG MG3,[{'subtitle': '79K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,2016 Hyundai Tucson,[{'subtitle': '191K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,2008 Nissan GT-R,[{'subtitle': '98K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,2014 Toyota 86,[{'subtitle': '126K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11950,False,2002 Mercedes-Benz Sedan,[{'subtitle': '181K km'}],['IN_PERSON'],{'text': 'Mercedes Benz kompressor classic sed...,"{'text': 'Adelaide, SA'}","{'text': 'AU$5,900'}",USED,https://www.facebook.com/marketplace/item/1626...,white,GASOLINE,off_white,Mercedes-Benz,sedan,"{'unit': 'KILOMETERS', 'value': 181000}","{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,2026.0,1.0
11951,False,2021 Nissan Qashqai,[{'subtitle': '67K km'}],['IN_PERSON'],{'text': '2021 Nissan Qashqui Ti For Sale\nOne...,"{'text': 'Melbourne, VIC'}","{'text': 'AU$24,950'}",USED,https://www.facebook.com/marketplace/item/2186...,grey,GASOLINE,black,Nissan,Qashqai,"{'unit': 'KILOMETERS', 'value': 67502}","{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,2026.0,1.0
11952,False,2013 Hyundai 2013 Hyundai ix35 LM3 Elite Wagon...,[{'subtitle': '232K km'}],['IN_PERSON'],"{'text': ""Will not respond to is this availabl...","{'text': 'Melbourne, VIC'}","{'text': 'AU$8,990'}",USED,https://www.facebook.com/marketplace/item/1436...,grey,PETROL,black,Hyundai,2013 hyundai ix35 lm3 elite wagon 5dr spts aut...,"{'unit': 'KILOMETERS', 'value': 232045}","{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,2026.0,1.0
11953,False,2024 Mercedes-Benz GLA250,[{'subtitle': '14K km'}],['IN_PERSON'],{'text': 'ALL CAR PARTS FOR SALE \nMelbourne C...,"{'text': 'Melbourne, VIC'}",{'text': 'AU$10'},USED,https://www.facebook.com/marketplace/item/1084...,black,PETROL,black,Mercedes-Benz,gla-class,"{'unit': 'KILOMETERS', 'value': 14000}","{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,2025.0,3.0
11954,False,2015 Mitsubishi Lancer,[{'subtitle': '252K km'}],['IN_PERSON'],"{'text': 'Clean, reliable, and fuel-efficient....","{'text': 'Melbourne, VIC'}","{'text': 'AU$9,500'}",USED,https://www.facebook.com/marketplace/item/4201...,white,GASOLINE,black,Mitsubishi,Lancer,"{'unit': 'KILOMETERS', 'value': 252433}","{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,2025.0,10.0

In [188]:
df.isnull().sum()

is_sold                                      0
marketplace_listing_title                    0
custom_sub_titles_with_rendering_flags       0
delivery_types                               0
redacted_description                       114
location_text                              115
formatted_price                            114
condition                                  114
share_uri                                  114
vehicle_exterior_color                     230
vehicle_fuel_type                         1530
vehicle_interior_color                    2297
vehicle_make_display_name                  114
vehicle_model_display_name                 503
vehicle_odometer_data                      114
vehicle_specifications                     114
vehicle_transmission_type                  128
creation_year                              114
creation_month                             114
dtype: int64

In [192]:
df.head(50)

,is_sold,marketplace_listing_title,custom_sub_titles_with_rendering_flags,delivery_types,redacted_description,location_text,formatted_price,condition,share_uri,vehicle_exterior_color,vehicle_fuel_type,vehicle_interior_color,vehicle_make_display_name,vehicle_model_display_name,vehicle_odometer_data,vehicle_specifications,vehicle_transmission_type,creation_year,creation_month
0,False,2015 Hyundai i30,[{'subtitle': '89K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,2020 MG MG3,[{'subtitle': '79K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,2016 Hyundai Tucson,[{'subtitle': '191K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,2008 Nissan GT-R,[{'subtitle': '98K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,2014 Toyota 86,[{'subtitle': '126K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,False,1978 Holden Ute,[{'subtitle': '100K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,False,2016 Mercedes-Benz cla-class,[{'subtitle': '62K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,False,2018 LDV T60,[{'subtitle': '222K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,False,1970 Holden Tidy HG Ute!!!,[{'subtitle': '45K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,False,2015 Hyundai genesis 3.8,[{'subtitle': '132K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,False,2022 Cupra leon VZx,[{'subtitle': '51K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,False,2018 Kia Cerato,[{'subtitle': '98K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,False,1992 BMW series 3,[{'subtitle': '139K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,False,2005 Toyota Hilux,[{'subtitle': '280K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,False,2017 Ford Mondeo,[{'subtitle': '155K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,False,2009 Ford Falcon,[{'subtitle': '123K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,False,1997 Ford Fairmont,[{'subtitle': '385K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,False,2010 Volkswagen Golf,[{'subtitle': '208K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,False,2017 INFINITI QX70,[{'subtitle': '94K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,False,2016 Hyundai Tucson,[{'subtitle': '159K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,False,2024 Volkswagen Tiguan,[{'subtitle': '14K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,False,2020 Toyota RAV4,[{'subtitle': '67K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,False,2023 Toyota Camry,[{'subtitle': '38K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,False,1990 Ford [hidden information]18116,[{'subtitle': '230K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,False,2023 Nissan Navara,[{'subtitle': '15K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,False,2019 Holden 1536931443109153,[{'subtitle': '84K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,False,2019 Mercedes-Benz c200 series,[{'subtitle': '65K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,False,2016 Toyota Hilux,[{'subtitle': '251K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,False,2016 Hyundai Accent,[{'subtitle': '103K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,False,1981 Holden Commodore,[{'subtitle': '161K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,False,2012 Great Wall v200 turbo,[{'subtitle': '91K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,False,2014 Ford Ranger,[{'subtitle': '304K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,False,1994 Nissan Patrol,[{'subtitle': '241K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,False,2018 Mercedes-Benz Vito,[{'subtitle': '131K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,False,2014 Toyota 86,[{'subtitle': '150K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,False,2018 Mazda CX-5,[{'subtitle': '131K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,False,2004 Nissan Pulsar,[{'subtitle': '224K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,False,2011 Mitsubishi Delica,[{'subtitle': '163K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,False,2004 Ford Falcon,[{'subtitle': '270K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,False,2010 Toyota Landcruiser 200,[{'subtitle': '98K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,False,1999 Mazda 323,[{'subtitle': '236K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,False,2023 MG Mg5,[{'subtitle': '44K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,False,2013 Mitsubishi mn triton,[{'subtitle': '240K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,False,2021 MINI Cooper,[{'subtitle': '87K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,False,2015 Mazda Mazda3,[{'subtitle': '192K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,False,2012 Nissan 370Z,[{'subtitle': '131K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,False,2016 Hyundai i30,[{'subtitle': '84K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,False,2019 Toyota Rav4,[{'subtitle': '101K km'}],['IN_PERSON'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,False,2010 BMW series 3,[{'subtitle': '172K km'}],['IN_PERSON'],{'text': 'A1 Condition \nService book \nRvc an...,"{'text': 'Brisbane, QLD'}","{'text': 'AU$5,800'}",USED,https://www.facebook.com/marketplace/item/1158...,blue,DIESEL,silver,BMW,NaN,"{'unit': 'KILOMETERS', 'value': 172321}","{'co2_emissions': None, 'engine_size': None, '...",AUTOMATIC,2025.0,11.0
49,False,2014 Audi A6,[{'subtitle': '125K km'}],['IN_PERSON'],{'text': '🚗 FOR SALE – 2014 Audi A6 S-Line | D...,"{'text': 'Brisbane, QLD'}","{'text': 'AU$18,499'}",USED,https://www.facebook.com/marketplace/item/8721...,white,DIESEL,black,Audi,A6,"{'unit': 'KILOMETERS', 'value': 125187}","{'co2_emissions': None, 'engine_size': {'type'...",AUTOMATIC,2025.0,12.0